NEXT_PUBLIC_DEFAULT_NETWORK="mainnet"
NEXT_PUBLIC_FEE_ADDRESS=
NEXT_PUBLIC_GRAPHQL_API_URL=
NEXT_PUBLIC_NEXA_API_URL=

DATABASE_URL=

# NextAuth will automatically use http://localhost:3000/api/auth/callback/twitter
# For production, set NEXTAUTH_URL to your production URL
AUTH_SECRET=

# Twitter
TWITTER_CLIENT_ID=
TWITTER_CLIENT_SECRET=
TWITTER_API_IO_KEY=

NEXA_API_KEY=
SUI_PRIVATE_KEY=