name: Biome CI Code Review
on: [pull_request]

jobs:
  biome:
    name: runner / Biome
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: mongolyy/reviewdog-action-biome@c2164b641fa929a960da224ea4a47b7930eadaa1 # v2.7.0
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-pr-review
          fail_on_error: true